#wpmem_reg span.password-strength-meter {
}

span.short {
    color: #E03333;
    font-weight: bold;
}

span.short::before {
    content: "\0000A*\0000A ";
";
}

span.bad {
    color: #E03333;
    font-weight: bold;
}

span.bad::before {
    content: "\0000A**\0000A ";
}

span.good {
    color: #446640;
    font-weight: bold;
}

span.good::before {
    content: "\0000A***\0000A ";
}

span.strong {
    color: #22AA40;
    font-weight: bold;
}

span.strong::before {
    content: "\0000A****\0000A ";
}

span.mismatch {
    color: #3333EE;
}

span.mismatch::before {
    content: "";
}

