.wskl-warning {
    color: #FF0000;
    font-weight: bold;
}

.wskl-notice {
    color: #E03333;
}

.wskl-info {
    color: #3333E0;
}

.wskl-description {
    color: #4e6640
}

pre.wskl-log-display {
    background-color: #222222;
    color: #e8e4e3;
    font-family: "inconsolata", monospace;
    font-style: normal;
    height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
    padding-left: 20px;
}