/** 이용약관 validation error */
.validation_error {
    background-color: #fff0f0;
}

ul.validation_error_list {
    margin: -20px 0 24px;
    text-align: left;
}

/** 우편번호 버튼 */
#wpmem_reg #dabory-postcode-button {
    margin-left: 10px;
}
