/** 이용약관 validation error */
.validation_error {
    background-color: #fff0f0;
}

ul.validation_error_list {
    margin: -20px 0 24px;
    text-align: left;
}

/** 우편번호 버튼 */
#wpmem_reg #dabory-postcode-button {
    margin-left: 10px;
}

#wpmem_reg h2.terms-title {
    /*font-size: 1em;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.tos-wrapper {
    margin-bottom: 50px;
}

.tos-content {
    margin: 15px 0;
    border: 1px solid #e7e7e7;
    padding: 5px 2px;
    min-height: 150px;
    max-height: 300px;
    overflow-y: auto;
}

#check-all-wrapper {
    margin-bottom: 20px;
}

#wpmem_reg .checkbox-agreement {
    margin-right: 10px;
}

#wpmem_reg span.password-strength-meter {

}

#wpmem_reg span.short {
    color: #E03333;
    font-weight: bold;
}

#wpmem_reg span.short::after {
    content: "\0000A *";
";
}

#wpmem_reg span.bad {
    color: #E03333;
    font-weight: bold;
}

#wpmem_reg span.bad::after {
    content: "\0000A **";
}

#wpmem_reg span.good {
    color: #446640;
    font-weight: bold;
}

#wpmem_reg span.good::after {
    content: "\0000A ***";
}

#wpmem_reg span.strong {
    color: #22AA40;
    font-weight: bold;
}

#wpmem_reg span.strong::after {
    content: "\0000A ****";
}

#wpmem_reg span.mismatch {
    color: #3333EE;
}

#wpmem_reg span.mismatch::after {
    content: "";
}

#wpmem_reg input.width-auto {
    width: auto;
    float: left;
}

#dabory-postcode-button {
    width: auto;
}

